body {
    background: #3B3561;
    border: 15px #071013;
    color: rgb(255, 253, 253);
    padding: 10px;
    font-family: Arial, sans-serrif;

}

#all-contents {
    max-width: 800px;
    margin: auto;

}

/* navigation menu */
nav {
    background: rgb(0, 0, 0);
    border: 20px #FBFAF8;
    margin: 0 auto;
    display: flex;
    padding: 10px;

}

h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;

}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.nav-li {
    display: inline-block;
    padding: 0 10px;

}

a {
    text-decoration:none;
    color: #f8efef;

}

/* main container area beneath menu */
main {
    background: #577399;
    border: 10px #071013;
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;

}

.sidebar-img {
    width: 75px;
    height: 15px;

}

.content {
    flex: 1;
    padding: 15px;

}

/* intrests section styles */
#interests {
    border: 8px silver ridge;
    padding: 8px;
    margin-top: 20px;

}

h2, h3 {
    margin: opx;
}

